{% extends 'blog/base.html' %}

{% block content %}
    <h1>Welcome, {{ user }}</h1>
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    <h3>Your email: {{ user.email }}</h3>
    <h3>Date Joined :{{ user.date_joined }}</h3>
    <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
    <a class="btn btn-primary" href="{% url 'account_edit' %}" role="button">Edit account</a>
{#    <a class="btn btn-primary" href="{% url 'email_edit' %}" role="button">Email account</a>#}
{% endblock %}