{% extends 'blog/base.html' %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="container">
            <h1>Login here :</h1>
            <form method="post" action="{% url 'login' %}" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-row">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username"  name="username" placeholder="Username"
                           required>
                    <div class="valid-tooltip">
                        Looks good
                    </div>
                    <div class="invalid-tooltip">
                        Invalid username
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                           aria-describedby="passwordHelpBlock" required>
                    <div class="valid-tooltip">
                        Looks good
                    </div>
                    <div class="invalid-tooltip">Invalid password</div>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not
                        contain
                        spaces, special characters, or emoji.
                    </small>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" name="" value="login">Login</button>
                </div>

            </form>
            <div class="div2">
                <form action="{% url 'signup' %}">

                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            </div>

        </div>
        {#        </div>#}

    {% else %}
        <h2 class="errornote">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</h2>
        <a class="btn btn-primary" href="{% url 'account' %}" role="button">Profile</a>
        <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>


    {% endif %}


{% endblock %}