{% extends 'blog/base.html' %}

{% block content %}
    <h1>Sign up</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <h4>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </h4>
        {% endfor %}
        <button class="btn btn-primary" role="button" type="submit">Sign up</button>
    </form>
{% endblock %}